@charset 'utf-8';

$link-color:#4395ff;
$tran-black: rgba(0,0,0,.6);
$boder: 1.2px solid white;


/* 初始化 */
html{font: normal normal 16px/20px '微软雅黑',Helvetica;}
html,body,.handset-body{width: 100%;height: 100%;}
body,.handset-body{overflow: hidden;;position: relative;}
body,p,h1,h2,h3,h4{margin:0;}
ul,input,button{margin:0;padding:0;list-style: none;border: none;}
input,button{/* 对有些移动端按钮默认为圆角做恢复 */border-radius: 0;-webkit-appearance: none;}
img{border: none;vertical-align: middle;}
a{text-decoration: none;color: $link-color;/* 移动端<a>点击时有默认阴影 */-webkit-tap-highlight-color: transparent;}
em{font-style: normal;}
button, video{outline: none;}

.handset-body{
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
    background: #393b3e;
    color: white;
    &::-webkit-scrollbar{
        width:2px;height: 5px;
    }
    // &::-webkit-scrollbar-track{
    //     background-color:#bee1eb;
    // }
    // &::-webkit-scrollbar-thumb{
    //     background-color:#00aff0;
    // }
}

/* 字体图标 */
@font-face {
    font-family: 'iconfont';
    src:url('../fonts/iconfont.eot');
    src:url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 调用样式 */
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.fl{
    float: left;
}
.ulFl>li{
    float: left;
}
.fr{
    float: right;
}
.boxsz{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.leayer{
    max-width: 1240px;
    margin: 0 auto;
}
.mt10{
    margin-top: 2vh;
}
.height{
    height: 100%;
}
.minW{
    min-width: 320px;
}

// a标签下划线动画
a{
    color: white;
    text-shadow:0 1px 5px $tran-black;
    position: relative;
    &::after{
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        width: 0;
        height: 1px;
        background: white;
        -webkit-transition: width .3s;
        transition: width .3s;
    }
    &:hover{
        &::after{
            width: 100%;
        }
    }
}


// 头部遮罩
.shade{
    position: fixed;
    width: 100%;
    height: 3rem;
    background: $tran-black;
    z-index: 1;
    -webkit-transform: translateY(-3rem);
            transform: translateY(-3rem);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    p{
        text-align: right;
    }
}

/* 导航栏 */
.central-nav{
    overflow: hidden;
    background: #000;
    .nav{
        position: fixed;
        height: 3rem;
        z-index: 2;
        width: 1240px;
        line-height: 2rem;
        .logo{
            width: 97px;
            height: 100%;
            background: url("../imgs/logo.png") no-repeat center / 100%;
            color: transparent;
            -webkit-user-select: none;
               -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            margin-right: 30px;
        }
        
        &>ul>li{
            font-size: 16px;
            margin: 14px 0 0 30px;
            padding-bottom: 15px;
            color: white;
            a{
                color: white;
            }
            &:hover{
                ul{
                    display: block;
                    // opacity: 1;
                    -webkit-transition: opacity .4s;
                    transition: opacity .4s;
                }
            }
            ul{
                display: none;
                // opacity: 0;
                position: absolute;
                top: 45px;
                width: auto;
                max-width: 300px;
                height: auto;
                background: rgba(0,0,0,.5);
                border-radius: 5px;
                padding: 14px;
                -webkit-transform: translateX(-20px);
                        transform: translateX(-20px);
                li{
                    width: 100%;
                    padding: 0;
                    font-size: 14px;
                    
                    img{
                        width: 150px;
                    }
                }
            }
            &:nth-child(2) ul li{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:nth-child(3) ul li{
                text-indent: 2em;
                text-align: justify;
            }
        }
    }
}

/* 更多 */
.more{
    position: fixed;
    right: 1.5rem;
    top: 1.1rem;
    padding:3px 12px;
    cursor: pointer;
    text-shadow: 0 1px 5px $tran-black;
    z-index: 9;
    border: 1px solid transparent;
    font-size: 16px;
    color: white;
    &:hover{
        // border: $boder;
        // box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
        -webkit-transition: border .4s;
        transition: border .4s;
    }
    span{
        display: inline-block;
        -webkit-transition: -webkit-transform .4s;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s, -webkit-transform .4s;
    }
}

/* 侧边栏 */
.sidebar{
    position: fixed;
    right: 0;
    top: 0;
    padding: 0 2.2rem;
    height: 100%;
    background: $tran-black;
    text-align: center;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    ul{
        margin-top: 78px;
        li{
            margin-bottom: 20px;
            a{
                font-size: 16px;
                color: white;
            }
        }
    }
    span{
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #4edcff;
        position: absolute;
        left: 14px;
        top: 83px;
        -webkit-transition: -webkit-transform .4s;
        transition: -webkit-transform .4s;
        transition: transform .4s;
        transition: transform .4s, -webkit-transform .4s;
    }
    
}

.tail{
    // margin-top: 24px;
    height: 54px;
    padding: 50px;
    background: $tran-black;
    p{
        text-align: center;
        font-size: 12px;
    }
}

@media(min-width:1024px){
    .tail p{
        font-size: 14px;
    }
}

@media(max-width:767px){
    .more{
        right: .2rem;
    }
    .central-nav .nav > ul{
        display: none;
    }
    .sidebar{
        padding: 0 1.1rem;
        span{
            display: none;
        }
    }  
}

/* 回到顶部 */
.return-top{
    position: fixed;
    right: 3%;
    bottom: 7%;
    font-size: 35px;
    color: #e2e5f2;;
    cursor: pointer;
    -webkit-transform: translateY(1rem);
            transform: translateY(1rem);
    opacity: 0;
    -webkit-transition: all .8s ease-out;
    transition: all .8s ease-out;
}

/* 登陆 */
.land{
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 217px;
    height: 99px;
    z-index: 9;
    background:rgba(0, 0, 0, .6);
    border-radius: 5px;
    color: white;
    padding: 20px;
    text-align: center;
    input{
        margin-top: 12px;
    }
    input[type="text"]{
        height: 20px;
        background: rgba(255, 255, 255, .4);
        color: white;
    }
    input[type="submit"]{
        background: rgba(0, 0, 0, .4);
        padding: 2px 12px;
        border-radius: 5px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    input[type="text"]:invalid ~ input[type="submit"]{
        display: none;
    }
    .close{
        position: absolute;
        right: 5px;
        top: 5px;
        cursor: pointer;
    }
}