$font-color: #34495e;
$link-color:#4395ff;
$content-bg: #e2e5f2;

button{
    background: transparent;
    cursor: pointer;
    &:hover{
        background: rgba(0,0,0,.2);
    }
}
.wrapper{
    ol{
        padding-left: 20px;
        margin: 0;
    }
    .section-wrap{
        position: relative;
    }
    a{
        color: $link-color;
        text-shadow: 0 0 0 transparent;
        &::after{
            background: $link-color;
        }
    }
    h4{
        margin-top: 20px;
    }


    // 以下代码尽量不要动
    width: 1240px;
    height: 720px;
    margin: 5rem auto;
    color: $font-color;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-perspective: 1800px;
            perspective: 1800px;

    .left, .middle, .right{
        width: 33.333333%;
        height: 100%;
        float: left;
        background: $content-bg;
        border-radius: 10px;
    }
    .left{
        position: relative;
    }
    .left{
        -webkit-transform-origin: 100% 50%;
                transform-origin: 100% 50%;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
        z-index: 2;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        -webkit-transition: -webkit-transform .8s;
        transition: -webkit-transform .8s;
        transition: transform .8s;
        transition: transform .8s, -webkit-transform .8s;
        .page, .back{
            width: 100%;
            height: 100%;
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 10px;

        }
        .page{
            padding: 40px;
            -webkit-transform:translateZ(-0.1px) rotateY(180deg);
                    transform:translateZ(-0.1px) rotateY(180deg);
            background: $content-bg;
            z-index: 5;
            .section-wrap{
                height: 100%;
            }
            .open{
                position: absolute;
                padding: 5px;
                border: 2px solid rgba(0, 0, 0, 0.5);
                bottom: 0;right: 0;
            }
            .logo{
                position: absolute;
                top: 30%; left: 50%;
                -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
                width: 90%;
            }
            .author{
                position: absolute;
                right: 0;bottom: 10%;
            }
        }
        .back{
            -webkit-transform: translateZ(.1px) rotateY(0);
                    transform: translateZ(.1px) rotateY(0);
            z-index: 4;
            background: $content-bg;
            padding: 20px;
        }

    }
    .middle, .right{
        padding: 20px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .middle{
        -webkit-transform: translateZ(-0.1px);
                transform: translateZ(-0.1px);
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        box-sizing: border-box;
    }
    .right{
        -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
        -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
        -webkit-transition: -webkit-transform .8s;
        transition: -webkit-transform .8s;
        transition: transform .8s;
        transition: transform .8s, -webkit-transform .8s;
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
        position: relative;

        .page, .back{
            -webkit-box-sizing: border-box;
                    box-sizing: border-box;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0; left: 0;
            padding: 20px;
            background: $content-bg;
            border-radius: 10px;
        }
        .page{
            -webkit-transform:translateZ(0.1px) rotateY(180deg);
                    transform:translateZ(0.1px) rotateY(180deg);
        }
        .back{
            -webkit-transform:translateZ(0.2px) rotateY(0);
                    transform:translateZ(0.2px) rotateY(0);
        }
        .close{
            position: absolute;
            width: 25px;
            height: 25px;
            font-size: 18px;
            right: 20px;top: 20px;
        }
    }

}